<div class="input-group">
  <input class="form-control p-4 py-2 mr-1 rounded-pill pr-5 search-group"
      type="text" placeholder="Search group">
  <span class="input-group-append">
      <button class="btn rounded-pill border-0 ml-n5"
          type="button">
          <i class="fa fa-search"></i>
      </button>
  </span>
</div>
