<footer class="container-fluid pt-4">
  <div class="d-flex flex-md-row flex-column align-items-center
      align-items-md-start">
      <div class="mr-md-auto text-center text-md-left">
          <h5 id="logo">VSG</h5>
          <p class="mb-0">225 Nguyen Van Cu Street Ward 4, District 5
              HCMC</p>
          <p>Phone: (+84) 123456789</p>
      </div>
      <div class="text-center text-md-left mb-3 mr-md-5">
          <h5>Sitemap</h5>
          <div class="d-flex flex-row flex-md-column
              justify-content-around">
              <a href="/groups/explore" class="mr-2">Explore</a>
              <a href="/groups/dashboard" class="mr-2">Dashboard</a>
              <a href="/groups/build" class="mr-2">Build</a>
              <a href="/groups/discuss" class="mr-2">Dicuss</a>
          </div>

      </div>
      <div class="text-center text-md-left ml-md-5" style="width:
          300px;">
          <h5>Contact us</h5>
          <p class="mb-0">Have a quetion? Email us at <span
                  id="email">team12@gmail.com</span> We’ll glad to
              help !</p>
          <div class="d-flex flex-row flex-md-column
              justify-content-center">
              <a href="#" class="mr-2">Help</a>
              <a href="#" class="mr-2">About</a>
              <a href="#" class="mr-2">Privacy</a>
          </div>
      </div>
  </div>
  <div class="text-center mt-5">
      <i class="fa fa-facebook-square"></i>
      <i class="fa fa-twitter-square"></i>
      <i class="fa fa-github-square"></i>
      <i class="fa fa-linkedin-square"></i>
      <p class="mt-2 pb-3 trademark">Copyright © 2020 VSG - Virtual
          Study Groups</p>
  </div>
</footer>
<script src="/js/vender/jquery-3.5.1.slim.min.js"></script>
<script src="/js/vender/popper.min.js"></script>
<script src="/js/vender/bootstrap.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>