<%- include("../partials/chat-header") %>
                    <div class="list-discuss">
                        <div class="list-item">
                            <div class="publish-infor">
                                <div class="time-publish">3 days ago</div>
                                <div class="author-publish">Sarapullman</div>
                            </div>
                            <a href="discuss-detail-dark.html"
                                class="question-title">What is bayes
                                algorithm?
                                And how does it work>?</a>
                            <div class="items-contact">
                                <div class="reaction">
                                    <i class="far fa-thumbs-up"></i>
                                    <div class="number-reaction
                                        font-weight-bold">3</div>
                                </div>
                                <div class="comment">
                                    <i class="far fa-comment-alt"></i>
                                    <div class="number-comment
                                        font-weight-bold">0</div>
                                </div>
                            </div>
                        </div>
                        <div class="list-item">
                            <div class="publish-infor">
                                <div class="time-publish">3 days ago</div>
                                <div class="author-publish">Sarapullman</div>
                            </div>
                            <a href="discuss-detail-dark.html"
                                class="question-title">What is bayes
                                algorithm?
                                And how does it work>?</a>
                            <div class="items-contact">
                                <div class="reaction">
                                    <i class="far fa-thumbs-up"></i>
                                    <div class="number-reaction
                                        font-weight-bold">3</div>
                                </div>
                                <div class="comment">
                                    <i class="far fa-comment-alt"></i>
                                    <div class="number-comment
                                        font-weight-bold">0</div>
                                </div>
                            </div>
                        </div>
                        <div class="list-item">
                            <div class="publish-infor">
                                <div class="time-publish">3 days ago</div>
                                <div class="author-publish">Sarapullman</div>
                            </div>
                            <a href="discuss-detail-dark.html"
                                class="question-title">What is bayes
                                algorithm?
                                And how does it work>?</a>
                            <div class="items-contact">
                                <div class="reaction">
                                    <i class="far fa-thumbs-up"></i>
                                    <div class="number-reaction
                                        font-weight-bold">3</div>
                                </div>
                                <div class="comment">
                                    <i class="far fa-comment-alt"></i>
                                    <div class="number-comment
                                        font-weight-bold">0</div>
                                </div>
                            </div>
                        </div>
                        <div class="list-item">
                            <div class="publish-infor">
                                <div class="time-publish">3 days ago</div>
                                <div class="author-publish">Sarapullman</div>
                            </div>
                            <a href="discuss-detail-dark.html"
                                class="question-title">What is bayes
                                algorithm?
                                And how does it work>?</a>
                            <div class="items-contact">
                                <div class="reaction">
                                    <i class="far fa-thumbs-up"></i>
                                    <div class="number-reaction
                                        font-weight-bold">3</div>
                                </div>
                                <div class="comment">
                                    <i class="far fa-comment-alt"></i>
                                    <div class="number-comment
                                        font-weight-bold">0</div>
                                </div>
                            </div>
                        </div>
                        <div class="list-item">
                            <div class="publish-infor">
                                <div class="time-publish">3 days ago</div>
                                <div class="author-publish">Sarapullman</div>
                            </div>
                            <a href="discuss-detail-dark.html"
                                class="question-title">What is bayes
                                algorithm?
                                And how does it work>?</a>
                            <div class="items-contact">
                                <div class="reaction">
                                    <i class="far fa-thumbs-up"></i>
                                    <div class="number-reaction
                                        font-weight-bold">3</div>
                                </div>
                                <div class="comment">
                                    <i class="far fa-comment-alt"></i>
                                    <div class="number-comment
                                        font-weight-bold">0</div>
                                </div>
                            </div>
                        </div>
                        <div class="list-item">
                            <div class="publish-infor">
                                <div class="time-publish">3 days ago</div>
                                <div class="author-publish">Sarapullman</div>
                            </div>
                            <a href="discuss-detail-dark.html"
                                class="question-title">What is bayes
                                algorithm?
                                And how does it work>?</a>
                            <div class="items-contact">
                                <div class="reaction">
                                    <i class="far fa-thumbs-up"></i>
                                    <div class="number-reaction
                                        font-weight-bold">3</div>
                                </div>
                                <div class="comment">
                                    <i class="far fa-comment-alt"></i>
                                    <div class="number-comment
                                        font-weight-bold">0</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-page">
                        <div class="previous">Previous</div>
                        <span class="separate-page">|</span>
                        <span class="page-number">1</span>
                        <span class="separate-page">|</span>
                        <span class="page-number">2</span>
                        <span class="separate-page">|</span>
                        <span class="page-number">3</span>
                        <span class="separate-page">|</span>
                        <span class="page-number">4</span>
                        <span class="separate-page">|</span>
                        <span class="separate-three-dot">...</span>
                        <span class="page-number last-page">100</span>
                        <span class="separate-page">|</span>
                        <div class="next">Next</div>
                    </div>
<%- include("../partials/chat-footer") %>
